@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 224, 229, 230;
  --background-end-rgb: 255, 255, 255;
}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
  line-height: normal;
  font-weight: 800;
  margin-bottom: 2rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 800;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
  color:rgb(42, 59, 59);
  font-family:Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 2rem;
}

li {
  margin-left: 3rem;
  margin-bottom: 2rem;
}